[Desktop Entry]
Version=1.2
Type=Application
Name=yusuke
Comment=
Exec=yusuke start
Icon=system-software-update
Path=
Terminal=false
StartupNotify=false
