[Unit]
Description=Run pacman update script on fixed times

[Timer]
OnBootSec=5min
OnUnitActiveSec=1d
Unit=yusuke-sync.service
Persistent=true

[Install]
WantedBy=default.target
